@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@100&family=Raleway:wght@500&display=swap");

.container {
    margin: 0 auto;
}

.icon-green {
    color: #6cda95;
}

.col-1 i {
    font-size: 3.42857rem !important;
}

.services-heading {
    text-align: center;
    font-weight: 500 !important;
    font-size: 2 !important;
    font-size: 40px;
    color: #111 !important;
    font-family: "Jost", sans-serif;
    padding: 25px;
}

.headings+p {
    text-align: justify;
    font-family: "Raleway";
    padding-top: 10px;
}

.headings {
    text-align: left;
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 2.3rem !important;
    color: #000000;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5rem;
    border: none;
    padding-left: 60px;
}

.imgd {
    height: 100px;
    width: 100px;
}

.col {
    flex-basis: calc(50% - 10px);
    height: 50%;
    margin: 5px;
    text-align: center;
    background-color: #f0f0f0;
}

.w-100 {
    flex-basis: 100%;
    height: 100%;
}

.view-button {
    background-color: #6cda95;
    color: white;
    font-family: "Raleway";

    padding: 0.28571rem 0.5rem;
    border: none;
    cursor: pointer;
}